<style>
  .ad{
  height: 100px;
  }

  .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: false;
  float: left;
  width: 100%;
  border: 0;
  }
  </style>

<script>
$(document).ready(function(){
$('.rslides') .cycle({
fx: 'none', // here change effect to blindX, blindY, blindZ etc 
speed: 'slow', 
random: true,
timeout: 10000 
});
}); 
</script>

<ul class="rslides">
  <li><img class="ad" src="img/example-slide-1.jpg"  alt=""></li>
  <li><img class="ad" src="img/example-slide-2.jpg" alt=""></li>
  <li><img class="ad" src="img/example-slide-3.jpg" alt=""></li>
</ul>