    <script> 
    $(function(){
      $("#ads").load("views/ads.html"); 
    });
    </script> 

<div data-options="dxView : { name: 'home', title: 'Home' } " >
	<!--<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'find', action: showOverlay}"></div>-->

	<!--<div data-bind="dxCommand: { title: 'Create', id: 'create', icon: 'find', action: showPopup}"></div>-->
	
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
	
	<div class="layout-toolbar" data-bind="dxToolbar: { dataSource: toolbarItems }">
				<div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' }"></div>
                </div>
	</div>
	<div id="ads"></div>
		
	<div id="tabs" data-bind="dxTabs: { items: tabs, selectedIndex: selectedTab }"></div>
		<div class="list-content" data-bind="if: dealerList.rendered, visible: dealerList.listVisible">
            <!-- ko with: dealerList -->
            <div class="list-indentation" data-bind="dxList: {dataSource: dataSource, searchQuery: searchQuery, autoPagingEnabled: true, showNextButton: false, pullRefreshEnabled: true, height: '70%'}">
                <div data-options="dxTemplate : { name: 'item' } " >
                    <div>
                        <div>
                            <div data-bind="text: name" class="product-name"></div>
                            <div data-bind="text: location" class="product-name"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>	
        <div class="list-content" data-bind="if: allcarsList.rendered, visible: allcarsList.listVisible">
            <!-- ko with: allcarsList -->
            <div class="list-indentation" data-bind="dxList: {dataSource: dataSource, searchQuery: searchQuery, autoPagingEnabled: true, showNextButton: false, pullRefreshEnabled: true, height: '67%'}">
                <div data-options="dxTemplate : { name: 'item' } " data-bind="dxAction: '#product-details/{id}'" >
                    <div>
                        <div class="product-image-box">
                            <img data-bind="attr: { src: picture, alt: make }" />
                        </div>
                        <div>
                            <div data-bind="text: make" class="product-name"></div>
                            <div class="product-price" align="right"><strong data-bind="text: Globalize.format(price, 'c2')"></strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
			
		<div id="popup" data-bind="dxPopup: { height: 'auto' }">
        <div class="dx-clearfix" data-options="dxTemplate : { name: 'title' } ">
            <h2>Login</h2>
        </div>
        <div data-options="dxTemplate : { name: 'content' } ">
            <div class="login-form">
                <div data-bind="dxTextBox: { placeholder: 'Login', value: username }"></div>
                <div data-bind="dxTextBox: { mode: 'password', placeholder: 'Password', value: password }"></div>                            
                <div data-bind="dxButton: { text: 'Sign in', clickAction: popup.hidePopup }"></div>
            </div>
        </div>
    </div>

	</div>