    <script> 
    $(function(){
      $("#ads").load("views/ads.html"); 
    });
    </script> 
<div data-options="dxView : { name: 'product-details', title: 'Product' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
	<div class="layout-toolbar" data-bind="dxToolbar: { dataSource: toolbarItems }">
				<div style="display: none" class="nav-button-item" data-options="dxTemplate : { name: 'nav-button' } ">
                    <div class="nav-button" data-bind="dxButton: { icon: 'menu' ,visible : false}"></div>
                </div>
	</div>
	<div id="ads"></div>
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Id: </div>
                <div class="dx-field-value" data-bind="text: id"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Make: </div>
                <div class="dx-field-value" data-bind="text: name"></div>
            </div>
        </div>
    </div>
</div>